{% extends "base.html" %}

{% block contenido %}
<form action="/new" method="post">
    <label>Fecha</label>
    <input type="date" name="date" value="{{dataForm['date']}}">
    <label>Concepto</label>
    <input type="text" name="concept" placeholder="Ingrese un concepto" value="{{dataForm['concept']}}">
    <label>Monto</label>
    <input type="number" name="quantity" placeholder="Ingrese un monto" step="0.01" value="{{dataForm['quantity']}}">
    
    <button type="submit">Guardar</button>
  
  </form>
  <article>
    <ul>
        {% for item in errors %}
        <li>{{item}}</li>
        {% endfor %}
    </ul>
  </article>
    
{% endblock %}