{% extends "base.html"%}

{% block contenido%}
<h1>Lista de Movimientos</h1>

<table role="grid">
    <thead>
    <tr>
        <th>Fecha</th>
        <th>Concepto</th>
        <th>Monto</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody
    {% for item in datos %}
    <tr>
        <td>{{item.date}}</td>
        <td>{{item.concept}}</td>
        <td>{{item.quantity}}€</td>
        <td>
            <a href="#">
            <span class="material-symbols-outlined">
                edit
                </span>
            </a>
            <a href="#">
                <span class="material-symbols-outlined">
                    delete
                    </span>
            </a>       
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
 
{% endblock %}