header,footer{
    background-color: var(--primary);
    color: var(--primary-inverse);
    font-size: 1.4em;
    font-weight: bold;
}

body{
    min-height: 100vh;
    display: grid;
    grid-auto-flow: auto 500px 1fr auto;
    margin: 0;
}